.cell, .topRulerCell, .leftRulerCell {
  position: relative;
  box-sizing: border-box;

  width: 75px;
  min-width: 75px;
  height: 25px;
  min-height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.25);

  font-size: 8px;
}

.topRulerCell, .leftRulerCell, .crossCell {
  text-align: center;
  line-height: 25px;
  font-weight: bold;

  background-color: rgb(170, 223, 211);
}

.crossCell, .leftRulerCell {
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
}

.leftRulerCell {
  z-index: 2;
  position: sticky;
  left: 0;
}

.checkbox {
  display: none;
}

.fakeCheckbox {
  position: absolute;
  left: 0;
  height: 23px;
  width: 23px;

  text-align: center;
  line-height: 22px;
  font-size: 23px;

  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.textInput {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 50px;
  height: 23px;
  padding: 0 0 0 5px;

  font-size: 11px;

  border: none;
  outline: none;
}

.textInput:disabled {
  cursor: not-allowed;
}
